<template>
  <q-layout>
    <q-header>
      <q-toolbar class="bg-white q-px-md q-py-md">
        <img src="./assets/Logo.png" alt="KiraTech logo" width="150" />
        <q-space />
        <q-btn flat color="black" icon="notifications" />
        <q-btn flat color="black" icon="settings" />
        <q-btn flat color="black" icon="logout" />
      </q-toolbar>
    </q-header>    
    <q-page-container>
      <q-page>
        
        <div class="bg-cyan text-left" style="height:200px;">
          <div class="row">
            <div class="col-4 q-pa-md" style="max-width:200px">
              <q-img src="./assets/Avatar.png" style="max-width:150px"></q-img>
            </div>            
            <div class="col-2 q-pa-md text-white loginInfo" style="padding-top:100px;">
              <div class="text-h4">Faiz Hakim</div>
              <div>Last online: 2 days ago</div>
            </div>
            <div class="col headerBtn">              
              <q-btn color="cyan" text-color="white" icon="add" label="Add Friend" class="q-ma-md" />
              <q-btn color="white" text-color="cyan" icon="send" label="Send Message" class="q-ma-md" />
            </div>            
          </div>

          <!-- table -->
          <div class="row q-pa-lg">
            <div class="col text-center">
              <q-table
                class="q-mt-md"
                :filter="filter"
                :rows="users"            
                :columns="columns"
              >
                <template v-slot:top-right>
                  <q-input borderless dense debounce="300" v-model="filter" placeholder="Search">
                    <template v-slot:append>
                      <q-icon name="search" />
                    </template>
                  </q-input>
                </template>
                <template v-slot:body="props">
                  <q-tr :props="props" @click="moreInfo(props.row)" class="text-left">
                    <q-td>{{ props.row.Date    }}</q-td>
                    <q-td>{{ props.row.Name    }}</q-td>
                    <q-td>{{ props.row.Gender  }}</q-td>
                    <q-td>{{ props.row.Country }}</q-td>
                    <q-td>{{ props.row.Email   }}</q-td>
                  </q-tr>              
                </template>
              </q-table>
            </div>
          </div>
          <!-- table -->

          <div class="row q-pa-lg">
            <div class="col text-center">
              <q-btn text-color="cyan" icon="refresh" label="Refresh" @click="getUsers()" />
            </div>
          </div>

        </div>

        <q-dialog v-model="showMoreInfo">
          <q-card style="width: 700px; max-width: 80vw;">
            <q-card-section>
              <div class="row">
                <div class="col text-center">
                  <img :src="Picture">
                  <div class="text-h6">{{ Name }}, {{ Age }}</div>
                </div>
                <div class="col">
                  <div class="text-weight-bold" style="text-decoration:underline;">Address</div>
                  <div v-html="Address"></div>
                  <br>
                  <div class="text-weight-bold" style="text-decoration:underline;">Contact Info</div>
                  <div><a :href="'mailto:'+Email">{{ Email }}</a></div>
                  <div>{{ Phone }}</div>
                </div>
              </div>              
            </q-card-section>            
          </q-card>
        </q-dialog>

      </q-page>
    </q-page-container>
  </q-layout>
</template>

<script>
import axios from 'axios';
import dayjs from 'dayjs';

export default {
  data() {
    return {
      showMoreInfo: false,
      selectedUser: {},
      users: [],
      filter: '',
      columns: [
        { name: 'Date',    field: 'Date',    label: 'Date',    align: 'left', sortable: false },
        { name: 'Name',    field: 'Name',    label: 'Name',    align: 'left', sortable: true  },
        { name: 'Gender',  field: 'Gender',  label: 'Gender',  align: 'left', sortable: true  },
        { name: 'Country', field: 'Country', label: 'Country', align: 'left', sortable: true  },
        { name: 'Email',   field: 'Email',   label: 'Email',   align: 'left', sortable: true  }
      ]
    };
  },

  computed: {
    Picture() { return this.selectedUser.picture.large; },
    Name()    { return this.selectedUser.Name;          },
    Gender()  { return this.selectedUser.Gender;        },
    Age()     { return this.selectedUser.dob.age;       },
    Email()   { return this.selectedUser.Email;         },
    Phone()   { return this.selectedUser.phone;         },
    Address() { 
      var { location } = this.selectedUser;
      var addrLine1 = location.street.number + ' ' + location.street.name
      var addrLine2 = location.postcode + ' ' + location.city + ', ' + location.state
      var addrLine3 = location.country;
      return `${addrLine1}<br>${addrLine2}<br>${addrLine3}`;
    },
    Country() { return this.selectedUser.Country;       }
  },

  methods: {
    async getUsers(pagination = 20) {
      var axios_url = `https://randomuser.me/api/?results=${pagination}`;      
      try {
        this.$q.loading.show();
        var response = await axios.get(axios_url);
        var results  = response.data.results;
        var resultsMapped = results.map((obj) => {
          return {
            ...obj,
            Date:    dayjs(obj?.registered?.date).format('DD MMM YYYY'),
            Name:    obj?.name?.last + ' ' + obj?.name?.first,
            Gender:  obj?.gender === 'male' ? 'Male' : 'Female',
            Country: obj?.location?.country,
            Email:   obj?.email
          };
        });        
        this.users = resultsMapped;
      } catch (error) {
        console.error(`ERROR getUsers() ${error}`);
      } finally {
        this.$q.loading.hide();
      }
    },

    moreInfo(obj) {      
      this.selectedUser = { ...obj };
      this.showMoreInfo = true;
    }
  },

  async mounted() {
    await this.getUsers();   
  }
}
</script>

<style scoped>
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vue:hover {
  filter: drop-shadow(0 0 2em #42b883aa);
}
@media (max-width: 600px) {
  .headerBtn {
    padding-top: 0px;
  }
  .loginInfo {
    display: none;
  }
}
@media (min-width: 600px) {
  .headerBtn {
    padding-top: 100px;
  }
}
</style>
